<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c64c743ece.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='details.css') }}">
    <title>User Details</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <a href="{{ url_for('index') }}"><i class="fa-solid fa-circle-user"></i></a>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('user') }}">New User</a>
            <a href="{{ url_for('details') }}">Users</a>
        </nav>
    </div>
    <div class="table-content">
        <table>
            <tr>
                <th>ID No</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            {% for detail in details %}
                <tr>
                    <td>{{detail.0}}</td>
                    <td>{{detail.1}}</td>
                    <td>{{detail.2}}</td>
                    <td>{{detail.3}}</td>
                    <td style="width: 200px; display: flex; flex-direction: row; justify-content: space-evenly;">
                        <form action="{{ url_for('update_user', id=detail.0) }}">
                            <button id="edit" onclick="edit(this)">Edit</button>
                        </form>
                        <form action="{{ url_for('delete_user', id=detail.0) }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>